html,
body {
  background: #090979;
  background-repeat: no-repeat;
  background-attachment: fixed; /* keeps it steady even if page scrolls */
  background-size: cover;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.title-text {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 0px;
  margin: 0px;
  color: wheat;
}

.format-group {
  display: inline-flex;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  overflow: hidden;
}

.format-group input {
  display: none;
  margin-left: 10px;
}

.format-group label {
  padding: 8px 14px;
  cursor: pointer;
  background-color: #c8d6e555;
  color: wheat;
  font-family: "Poppins", sans-serif;
}

.format-group label:last-child {
  border-right: none;
}

.format-group input:checked + label {
  background: rgba(84, 160, 255, 0.35);
  color: white;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 10px;
}

.editor-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr;  
  gap: 24px;           
  padding: 16px;
}

.editor-wrapper > * {
  min-width: 0;   /* VERY IMPORTANT for CodeMirror */
  min-height: 0;
}

.cm-scroller {
  overflow: auto;
}

.cm-scroller::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.cm-scroller::-webkit-scrollbar-track {
  background: #0f172a;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 8px;
  border: 2px solid #0f172a;
}

.cm-scroller::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
}

.cm-scroller {
  scrollbar-width: thin;
  scrollbar-color: #475569 #0f172a;
}


